
/* ROOT CSS SELECTORS*/

:root {
    /* --- 01 TYPOGRAPHY SYSTEM */
    /* FONT STYLES */
    --light: 300;
    --default: 400;
    --bold: 500;

    /* FONT SIZES  */
    --main-heading-size: 4.0rem;
    --secondary-heading-size: 2.0rem;
    --tertiary-heading-size: 1.8rem;
    --link-heading-size: 1.6rem;

    /* --- 02 COLOUR SYSTEM */
    /* PRIMARY */
    --primary-dark-colour: rgba(20, 21, 23);
    --primary-light-colour: rgba(254, 255, 255);

    /* TINTS */
    --tint-dark-colour: rgba(17, 18, 20);
    --tint-light-colour: rgba(246, 247, 249);

    /* SHADES */
    --shade-card-colour: rgba(25, 26, 28);
    --shade-btn-colour: rgba(42, 43, 47);

    /* GREYS */
    --grey-contrast-colour: rgba(116, 118, 119);
    --grey-border-colour: rgba(36, 38, 39);
}

/* APPLY PAGE RESET */

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* STYLING */
body {
    font-family: "Roboto", sans-serif;
    color: var(--tint-light-colour);
    margin: 0 auto;
    background-color: var(--primary-dark-colour);
    height: 100vh;
}

/********************/
/* REUSABLE CLASSES */
/********************/

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px 1fr;
    height: 100%;
}


/*********************/
/* SIDEBAR CLASSES   */
/*********************/

.sidebar {
    /* grid-area: 1 / 1 / -3 / 2; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2.4rem 7%;
    background-color: var(--tint-dark-colour);
    border-right: 2px solid var(--grey-border-colour);
    overflow: hidden;
}

.sidebar > h1 {
    font-size: var(--secondary-heading-size);
    font-weight: var(--default);
    margin-bottom: 10%;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Selector targets all direct decendant div elements (upper-menu & lower-menu classes) and all direct div decendants of those upper + lower menu classes  */
.menu-bar > div > div {

    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
    gap: 1.2rem;
}

/* Same selector as above with an additional selector that target all direct anchor elements of those divs under upper + lower menu classes */

.menu-bar > div > div > a {
    text-decoration: none;
    font-size: var(--tertiary-heading-size);
    font-weight: var(--light);
    color: var(--grey-contrast-colour);
}

.upper-menu > div:last-child {
    margin-bottom: 0;
}

.lower-menu > div:last-child {
    margin-bottom: 0;
}

/*********************/
/* HEADER CLASSES    */
/*********************/

/* SEARCHBAR */

.header {
    display: grid;
    grid-template: 5rem 5rem / 1fr 1fr ;
    row-gap: 4.8rem;
    padding: 2.4rem 3.2rem;
}

.searchbar {
    width: 700px;
}

form {
    background-color: var(--tint-dark-colour);
    padding: 1.4rem 1.6rem;
    border-radius: 1.2rem;
    display: flex;
    gap: 1rem;
}


form > button {
    border: none;
    background-color: transparent;
}


form > input {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: var(--tertiary-heading-size);
    color: var(--tint-light-colour);
}

form > input:focus {
    outline: none;
}

/* ACCOUNT */

.account {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.2rem;
}

.account-icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: .4rem;
}

.account-profile {
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;

}

.account > p {
    font-size: var(--link-heading-size);
    font-weight: var(--light);
}

/* WELCOME */
.welcome {
    display: flex;
    gap: 1.2rem;
}

.welcome > img {
    border-radius: 50%;
    width: 5.2rem;
    height: 5.2rem;
}

.welcome-text {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    gap: .6rem;
}

.welcome-greeting {
    font-size: var(--link-heading-size);
    font-weight: var(--light);
}

.welcome-user {
    font-size: var(--tertiary-heading-size);
    font-weight: var(--bold);
}

/* SHARE BUTTONS */

.share-btns {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.6rem;
}

.btn {
    width: auto;
    height: 3.6rem;
    background-color: var(--shade-btn-colour);
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: var(--link-heading-size);
    font-weight: var(--light);
    color: var(--primary-light-colour);
}

/************************/
/* MAIN-CONTENT CLASSES */
/************************/

.main-content {
    grid-area: 2 / 2 / -1 / -1; 
    padding: 2.4rem 3.2rem;
    overflow-y: auto;
}

.content-container {
    background-color: var(--tint-dark-colour);
    border: 1px solid var(--tint-dark-colour);
    border-radius: 1.2rem;
    padding: 3.2rem 1.2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 2.2rem;
    row-gap: 2.2rem;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
}

.project-heading {
    font-size: var(--secondary-heading-size);
    font-weight: var(--default);
    margin-bottom: 1.2rem
}

.project-cards-container {
    height: 100%;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.card {
    background-color: var(--shade-card-colour);
    display: flex;
    flex-direction: column;
    padding:  2rem 7%;
    border-radius: 1.2rem;
    border: 1px solid var(--grey-border-colour);
    position: relative;
   
}

.card > h3 {
    font-size: var(--tertiary-heading-size);
    font-weight: var(--default);
    margin-bottom: .6rem;
}

.card > p {
    font-size: var(--link-heading-size);
    font-weight: var(--light);
    margin-bottom: 1.2rem;
}

.card > div {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    display: flex;
    gap: 1rem;
    justify-content: right;
}

/************************/
/* ANNOUNCEMENT CLASSES */
/************************/

.announcements {
    display: flex;
    flex-direction: column;
}

.announcements-heading {
    font-size: var(--secondary-heading-size);
    font-weight: var(--default);
    margin-bottom: 1.2rem;
}

.announcements-container {
    background-color: var(--shade-card-colour);
    display: flex;
    flex-direction: column;
    padding: 2rem 7%;
    border-radius: 1.2rem;
    border: 1px solid var(--grey-border-colour);
}

.announcements-container > hr {
    display: block;
    margin: 1.6rem 0; 
}

.announcement > h3 {
    font-size: var(--link-heading-size);
    font-weight: var(--default);
    margin-bottom: .4rem;
}

.announcement > p {
    font-size: 1.4rem;
    font-weight: var(--light);
}

/********************/
/* TRENDING CLASSES */
/********************/

.trending {
    display: flex;
    flex-direction: column;
}

.trending-heading {
    font-size: var(--secondary-heading-size);
    font-weight: var(--default);
    margin-bottom: 1.2rem;
}

.trending-container {
    background-color: var(--shade-card-colour);
    display: flex;
    flex-direction: column;
    padding: 2rem 7%;
    border-radius: 1.2rem;
    border: 1px solid var(--grey-border-colour);
    gap: 1.6rem;
}

.trend {
    display: flex;
    gap: 1.4rem;
    align-items: center;
}

.trend h3 {
    font-size: 1.4rem;
    margin-bottom: .6rem;
}

.trend p {
    font-size: 1.4rem;
}








       